* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto;
    background-color: #1B1B1B;
    background-image: url(./images/bg.png);
    background-repeat: no-repeat;
    height: 990px;
    width: 1440px;
}

nav {
    align-items: center;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 46px 140px;
}

nav ul {
    align-items: center;
    display: flex;
    gap:50px;
}

nav ul * {
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

nav a {
    color: white;
    text-decoration: none;
    transition: all 0.5ms ease-in-out;
}

nav a:hover {
    cursor: pointer;
    opacity: 0.6;
}

.main {
    color: white;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-align: center;
}

.text h3 {
    font-size: 24px;
    line-height: 28px;
    padding-top: 158px;
    text-transform: uppercase;
}

.text h1 {
    font-size: 72px;
    line-height: 84px;
    padding-top: 53px;
    text-transform: uppercase;
}

.text p {
    display: block;
    font-size: 18px;
    font-weight: 400;
    margin: 0 auto;
    line-height: 30px;
    letter-spacing: 0em;
    padding-top: 25px;
    padding-bottom: 48px;
    width: 460px;
}

.text button {
    padding: 18px 30px;
    border: none;
    border-radius: 50px;
    gap: 10px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transition: all 0.5 ease-in-out;
}

.text button:hover {
    cursor: pointer;
    opacity: 0.6;
    transform: scale(1.2);
}

div.gallery {
    margin-top:360px;
    margin-bottom: 100px;
}

.photos {
    margin-top: 40px;
    margin-left: 144px;
    margin-right: 144px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1;
}

footer {
    align-items: center;
    background-color: rgba(40, 35, 35, 1);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 23px 140px;
}

footer .logo {
    height: 24.75px;
    width: 150px;
}

.socials {
    display: flex;
    font-family: Font Awesome 5 Brands;
    font-size: 16px;
    font-weight: 400;
    justify-content: space-between;
    line-height: 18px;
    letter-spacing: 0em;
    width: 102px;
}

footer .rights {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
}

footer a:hover {
    cursor: pointer;
    opacity: 0.4;
}